.keypadBody {
  background-color: black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.numberButtonCircle {
  border-radius: 50%;
  border: 0;
  background-color: dimgray;
  padding: 25px;
  margin: 10px;
  font-size: 1.5em;
  color: white;
}

.highlighted {
  background-color: darkgoldenrod;
}

.numberButtonCircle:hover {
  border-radius: 50%;
  border: 0;
  background-color: grey;
  padding: 25px;
  margin: 10px;
  font-size: 1.5em;
}

.highlighted:hover {
  background-color: rgb(167, 137, 61);
}
