.keypadBody {
  background-color: #181817;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.numberButtonCircle {
  border-radius: 50%;
  border: 0;
  background-color: dimgray;
  padding: 25px;
  margin: 10px;
  font-size: 1.4em;
  color: white;
}
.orangeBtn {
    border-radius: 50%;
    border: 0;
    padding: 25px;
    margin: 10px;
    font-size: 1.4em;
    color: white;
  }

.highlighted,
.orangeBtn {
  background-color: darkgoldenrod;
}

.numberButtonCircle:hover {
  background-color: grey;
}

.highlighted:hover,
.orangeBtn:hover {
  background-color: rgb(194, 150, 40);
}
